<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/homePageStyle.css" />
    <!-- link for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />

    <title>Business Account Info</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <%- include("../components/header", {businessId: business._id}); -%>
    <section class="top">
      <h2>Welcome, <%= business.CompanyName %>!</h2>
      <h2>Your Job Postings</h2>
      <form>
        <input class="postings" type="submit" value="Cashier 1" />
      </form>
      <form>
        <input class="postings" type="submit" value="Cashier 2" />
      </form>

      <div id="options">
        <form action="/roster_creation/1/<%= business._id  %>" method="GET">
          <input class="buttons" type="submit" value="Add Roster" />
        </form>
        <!-- <a href="/roster_creation/1/<%= business._id %>">Add Roster</a> -->
      </div>
    </section>
    <section class="matchSection">
      <h3>Your matches</h3>
      <%- include("../components/matchCard"); -%>
      
    </section>
   
  </body>
</html>
